.navbar {
    display: flex;
    align-items: center;
    gap: 29px;

}

nav {
    position: sticky;
    top: 20px;
}

.navbar__minu {
    display: flex;
}


.navbar__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
}

.navbar__katalog__btn {
    width: 170px;
    display: flex;
    justify-content: center;
    gap: 8px;
    padding: 18px 0;
    border-radius: 100px;
    background: #000;
    cursor: pointer;
}

.navbar__search,
.navbar__res__search {
    display: flex;
    flex-grow: 1;
    align-items: center;
    gap: 8px;
    border: 1px solid #666;
    border-radius: 100px;
    padding: 14px 18px 14px 24px;
}

.svyaz {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;

}

.navbar__res {
    display: none;
}

.navbar__res__search {
    display: none;
}

.navbar__res__search div {
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    border-radius: 0 100px 100px 0;
}

.navbar__res__search div:hover {
    background: #c0bbbb;
    cursor: pointer;
}

.navbar__animation {
    padding: 0 15px;
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 10000;
    margin-top: -1000px;
    height: 100vh;
    transition: ease .40s;
}

.navbar__open {
    margin-top: 0;
}

.navbar__open__btn {
    display: none;
}

.navbar__respons__search {
    display: none;
}

@media (max-width:880px) {

    .navbar__minu,
    .navbar__top {
        display: none;
    }

    .navbar__respons__search {
        display: block;
    }


    .navbar__open__btn {
        display: block;
    }

    .navbar {
        justify-content: space-between;
    }

    .navbar__res {
        display: flex;
        align-items: center;
        gap: 26px;
    }

    .navbar__res__search {
        display: flex;
        margin-top: 10px;
        padding: 0;
        padding-left: 14px;
    }
}